
   <!--<nav class="mobile">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </nav>-->
<header>
    <nav class="docs-navbar-header">
        <mat-grid-list cols="6" rowHeight="4rem">
            <mat-grid-tile [colspan]="2"><a mat-button routerLink="/">School Name</a></mat-grid-tile>
            <mat-grid-tile><a mat-button routerLink=".">School Calendar</a></mat-grid-tile>
            <mat-grid-tile><a mat-button routerLink=".">Events</a></mat-grid-tile>
            <mat-grid-tile><a mat-button routerLink=".">Connect</a></mat-grid-tile>
            <mat-grid-tile><a mat-button routerLink=".">My Profile</a></mat-grid-tile>
        </mat-grid-list>
    </nav>
</header>

