
   <!--<nav class="mobile">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </nav>-->
<header>
    <mat-grid-list cols="1" rowHeight="5rem">
        <mat-grid-tile><a mat-button routerLink=".">SCHOOL APP</a></mat-grid-tile>
    </mat-grid-list>
    <nav>
        <mat-grid-list cols="4" rowHeight="5rem">
            <mat-grid-tile><a mat-button routerLink=".">School Calendar</a></mat-grid-tile>
            <mat-grid-tile><a mat-button routerLink=".">Events</a></mat-grid-tile>
            <mat-grid-tile><a mat-button routerLink=".">Connect</a></mat-grid-tile>
            <mat-grid-tile><a mat-button routerLink=".">My Profile</a></mat-grid-tile>
        </mat-grid-list>
    </nav>
</header>

